<div id="fh5co-started">
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <span>Let's work together</span>
        <h2>Try this template for free</h2>
        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
        <p><button type="submit" class="btn btn-primary">Get In Touch</button></p>
      </div>
    </div>
  </div>
</div>
