<nav class="fh5co-nav" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-xs-2 text-left">
        <div id="fh5co-logo"><a href="index.html">Concept<span>.</span></a></div>
      </div>
      <div class="col-xs-10 text-right menu-1">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li class="has-dropdown">
            <a href="services.html">Services</a>
            <ul class="dropdown">
              <li><a href="#">Web Design</a></li>
              <li><a href="#">eCommerce</a></li>
              <li><a href="#">Branding</a></li>
              <li><a href="#">API</a></li>
            </ul>
          </li>

          <li><a href="products.html">Products</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
    </div>

  </div>
</nav>
