<nav class="fh5co-nav" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-xs-2 text-left">
        <div id="fh5co-logo"><a href="index.html">Concept<span>.</span></a></div>
      </div>
      <div class="col-xs-10 text-right menu-1">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li class="has-dropdown">
            <a href="services.html">Services</a>
            <ul class="dropdown">
              <li><a href="#">Web Design</a></li>
              <li><a href="#">eCommerce</a></li>
              <li><a href="#">Branding</a></li>
              <li><a href="#">API</a></li>
            </ul>
          </li>

          <li><a href="products.html">Products</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
    </div>

  </div>
</nav>

<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(assets/images/img_bg_1.jpg);" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-7 text-left">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeInUp">
            <h1 class="mb30">Let us build brands together shall we?</h1>
            <p>
              <a href="http://gettemplates.co/" target="_blank" class="btn btn-primary">Get Started</a>  <em class="or">or</em>
              <a href="https://vimeo.com/channels/staffpicks/93951774" class="link-watch popup-vimeo">Watch Video</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
