<!DOCTYPE HTML>
<!--
	Concept by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>
	<head>
	{% include head.html %}
	</head>
	<body>

	<div class="fh5co-loader"></div>

	<div id="page">
  {% include navigation.html %}
  {{ content }}
  {% include get-started.html %}
  {% include footer.html %}
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
  {% include scripts.html %}
	</body>
</html>
